*.7z
*.aac
*.avi
*.bak
*.csv
*.db
*.db-journal
*.docx
*.eot
*.flac
*.flv
*.gif
*.gz
*.ico
*.jpeg
*.jpg
*.json
*.lock
*.log
*.m4a
*.mkv
*.mov
*.mp3
*.mp4
*.ogg
*.opus
*.otf
*.pdf
*.pid       
*.png
*.pptx
*.rar
*.sql
*.sqlite
*.svg
*.swp
*.tar
*.tmp
*.ttf
*.txt
*.wav
*.webm
*.wmv
*.woff
*.woff2
*.xlsx
*.xml
*.yaml
*.yml
*.zip